page-cadastro {

    .invalid{
        border-bottom: 2px solid red;
    }

    .error-message .item-inner{
        border-bottom: 0 !important    
    }
    p {
        color: red;
        font-size: 0.8em;
    }

}
